# dependencies
node_modules/
package-lock.json

allure-results/

# build / coverage
dist/
coverage/

# playwright artifacts
playwright-report/
test-results/
playwright/.cache/
playwright/.auth/
*.trace.zip

# logs & OS noise
*.log
.DS_Store

# env & local config
.env*
*.local
